torch==1.8.1
torchvision==0.9.1
torchaudio===0.8.1
Pillow==8.2.0
matplotlib==3.4.2
helper==2.5.0
pandas==1.2.4
numpy==1.20.3
linformer==0.2.1
einops==0.3.0
ipywidgets==7.6.3
vit-pytorch==0.19.4
seaborn==0.11.1
shap==0.39.0
x-transformers==0.12.1
lime==0.2.0.1
scikit-learn==0.24.2